<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>atualizar Car Model</title>
</head>
<body>
    <h1>Atualizar Car Model</h1>
    <form action="/carModel/update" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="_method" value="put" />
		
		ID da brand: <input type="number" name="brandId"><br>
		ID do model: <input type="number" name="modelId"><br>
        Nome da Model: <input type="text" name="name"><br>
        Tipo: <input type="text" name="type"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
