<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Car Model</title>
</head>
<body>
    <h1>Insert Car Model</h1>
    <form action="/carModel/store" method="post">
		<input type="hidden" name="_method" value="post" />
		
		Nome da brand: <input type="type" name="brandName"><br>
        Nome da Model: <input type="text" name="name"><br>
        Tipo: <input type="text" name="type"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
