<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Delete a purchase</title>
</head>
<body>
  <h1>Delete Purchase</h1>
  <form th:action="@{/purchase/delete}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" name="_method" value="delete" />
    
	<input type="number" name="purchaseId" placeholder="Purchase ID" />
    
	<button type="submit">Deletar</button>
  </form>
</body>
</html>