<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
    <h1>delete Customer</h1>
    <form action="/customer/delete" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="_method" value="delete" />
		
		ID do Customer: <input type="number" name="customerId"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
